input[type=text], input[type=password], input[type=checkbox] select { 
    width: 50%;
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 4px; 	
    box-sizing: border-box;
}
label{
	width: 20%;
	font-weight: 800; 
  	display: inline-block;
}
input[type=submit] { 
  	width: 50%;
	background-color: #4CAF50; 
  	color: white;
	padding: 14px 20px; 
  	margin: 8px 0; 
  	border: none; 
  	border-radius: 4px; 
  	cursor: pointer;
}
input[type=submit]:hover { 
  	background-color: #45a049;
}
input[type=reset] { 
  	width: 50%;
	background-color: #4c8baf; 
  	color: white;
	padding: 14px 20px; 
  	margin: 8px 0; 
  	border: none; 
  	border-radius: 4px; 
  	cursor: pointer;
}
input[type=reset]:hover { 		
  	background-color: #4546a0;
}
form {
	width: 800px; 
  	border-radius: 5px;
	background-color: #f2f2f2; 
  	padding: 20px;
	margin: 0 auto;
}
.panelButtons{ 
  	display: flex;
	flex-direction: row;
}
